{{! Nav Bar }}


       <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Mongo-Scraper</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                    <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                  
                  
                  </ul>
                </div>
              </nav>


<div class="articles">
    {{#each articles}}
        {{#if saved}}
        <div class="article">
            <a href="{{link}}"><h2>{{title}}</h2></a>
            <p>{{summary}}</p>
            <button class="btn btn-primary unsave" data-id="{{_id}}">Remove From Saved</button>
            <button class="btn btn-primary addNote" data-id="{{_id}}">Add Note</button>
            <br>
        </div>
        {{/if}}
    {{/each}}
</div>

 {{!-- modal for displaying and creating notes --}}
  <div id="noteModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div id="notes" class="modal-body"></div>
      </div>
    </div>
  </div>